fastapi==0.110.0
uvicorn[standard]==0.30.6

pandas==2.2.2
numpy<2.0
tqdm==4.66.5

# LangChain + Chroma (kompatibel Python 3.11 & Chroma 0.5.x)
langchain-community==0.3.7
langchain-chroma==0.1.4
chromadb==0.5.12
